
.Threepage{
    min-width: 100%;
    height: 340px;
    background-color: #333333;
}
.Threepage2{
    min-width: 100%;
    height: 340px;
    padding-left: 325px;
    padding-right: 325px;
    position: relative;
    top: -99px;
}
.ThreePictrueBox{
    min-height: 163px;
    min-width: 253px;
}
.Threecrosspic{
    min-height: 99px;
    max-width: 777px;
    position: relative;
    left: 495px;
    top: 80px;
}
.ThreeIcons{
    min-height: 118px;
    min-width: 253px;   
    background-color: #333333;
}
.Threetext{
    min-height: 45px;
    min-width: 253px;
}