.Twopage{
    width: 100%;
    height: 685px;
    background-image: url('../images/page\ 2.png');
    background-size: cover;
    background-position: center;
}
.TwoPictrueBox{
    min-height: 450px;
    min-width: 440px;
}
.TwoTextBox{
    min-height: 450px;
    min-width: 560px;
}
.Twoim1{
    background-image: url('../images/mini\ im\ 1.png');
    background-size: cover;
    background-position: center;
}
.Twoim2{
    background-image: url('../images/mini\ im\ 2.png');
    background-size: cover;
    background-position: center;
}
.TwoPic{
    min-height: 220px;
    min-width: 350px;
}
.TwoTextpad{
    min-height: 95px;
}
.TwoTextloc{
    min-height: 342px;
    min-width: 560px;
}
.TwoTextheadlight{
    min-height: 26px;
    min-width: 288px;
}
.Twotext{
    min-height: 158px;
    max-width: 460px;
}
.Twobutton{
    min-height: 63px;
    min-width: 228px;
}