


.Onepage{
    width: 100%;
    height: 821px;
}
.OneTop{
    min-height: 264px;
}
.OneSearchText{
    min-height: 76px;
    min-width: 372px;
}
.OneSearchTitle{
    min-height: 39px;
    min-width: 372px;
}
.OneSearchSubTitle{
    min-height: 26px;
    min-width: 372px;
}
.OneMiddle{
    MIN-HEIGHT: 48PX;
}
.OneSearchBox{
    min-height: 63px;
    min-width: 653px;
}
.OneLowMiddle{
    MIN-HEIGHT: 108PX;
}
.OneScroll{
    min-height: 46px;
    min-width: 108px;
}
.OneBottom{
    MIN-HEIGHT: 132PX;
}
.OneBottomBar{
    min-height: 83px;
    min-width: 100%;
}
.OneBar1{
    min-height: 20px;
    min-width: 186px;
}
.OneBar2{
    min-height: 12px;
    min-width: 525px;
}
.OneBar2_1{
    min-height: 12px;
    min-width: 126px;
}