.Fourpage{
    width: 100%;
    height: 700px;
    background-image: url('../images/page\ 3.png');
    background-size: cover;
    background-position: center;
}.Fourpage2{
    width: 100%;
    height: 700px;
    background-image: url('../images/page\ 4.png');
    background-size: cover;
    background-position: center;    
}
.Fourtop{
    min-height: 227px;
}
.Fourcontent{
    min-height: 374px;
    min-width: 1086px;
}
.Fourbox{
    min-height: 374px;
    min-width: 543px;
    padding: 32px;
    background-color: rgba(35, 35, 35, 0.9);
}
.Fourbox1{
    min-height: 374px;
    min-width: 543px;
    padding: 32px;
}
.Fourtitle{
    min-height: 26px;
    min-width: 80px;
}
.Fourtitle2{
    min-height: 26px;
    min-width: 241px;
}
.Fourtext{
    min-height: 78px;
    max-width: 508px;
}
.Fourbutton{
    min-height: 63px;
    min-width: 228px;
}