
@import 'flex';
@import 'font';
@import 'PageOne';
@import 'PageTwo';
@import 'PageThree';
@import 'PageFour';
@import 'PageSix';
@import 'footer';


body{
    max-width: 1800px;
    margin: 0 auto;
}
p{    
    color: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Shadows Into Light", cursive;
}

.location{
    border: #c37272;
    border-width: 3px;
    border-style: solid;
}
.large-svg {
    width: 100px;
    height: 100px;
}
.alt-svg {
    width: 800px;
    height: 150px;
}