.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex_L {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.flex_AS_E {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.flex_Ai_E {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.flex_Ai_SB {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}
.flex_Ai_SA {
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}
.flex_j_SB {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex_j_SA {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.flex_j_C {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex_j_R {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.flex_js_R {
  -ms-grid-column-align: start;
      justify-self: start;
}
.flex_row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.flex_rowR {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.flex_col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex_colR {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.flex_wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fonts {
  font-family: "Source Code Pro", monospace;
  font-style: normal;
}
.fonts_alt {
  font-family: "Poppins", sans-serif;
}
.fonts_tiny {
  font-size: 16px;
  line-height: 20px;
}
.fonts_mini {
  font-size: 16px;
  line-height: 26px;
}
.fonts_small {
  font-size: 18px;
  line-height: 23px;
}
.fonts_avrage {
  font-size: 22px;
  line-height: 28px;
}
.fonts_more {
  font-size: 40px;
  line-height: 55px;
}
.fonts_big {
  font-size: 40px;
  line-height: 60px;
}
.fonts_swift {
  font-size: 28px;
  line-height: 38px;
}
.fonts_soup {
  font-size: 22px;
  line-height: 33px;
}
.fonts_giga {
  font-size: 90px;
  line-height: 102px;
}
.fonts_boldE {
  font-weight: 500;
}
.fonts_bold {
  font-weight: bold;
}
.fonts_Norm {
  font-weight: normal;
}
.fonts_blue {
  color: #0011ff;
}
.fonts_black {
  color: #000000;
}
.fonts_gray {
  color: #7a7a7a;
}
.fonts_it {
  font-style: italic;
}
.fonts_shade {
  mix-blend-mode: normal;
  opacity: 0.8;
}
.fonts_trans {
  mix-blend-mode: normal;
  opacity: 0.6;
}
.fonts_shift {
  mix-blend-mode: normal;
  opacity: 0.5;
}
.fonts_inv {
  mix-blend-mode: normal;
  opacity: 0.1;
}

.deco {
  text-decoration: none;
}

.Onepage {
  width: 100%;
  height: 821px;
  background-image: url("../images/image 1.png");
  background-size: cover;
  background-position: center;
}

.OneTop {
  min-height: 264px;
}

.OneSearchText {
  min-height: 76px;
  min-width: 372px;
}

.OneSearchTitle {
  min-height: 39px;
  min-width: 372px;
}

.OneSearchSubTitle {
  min-height: 26px;
  min-width: 372px;
}

.OneMiddle {
  MIN-HEIGHT: 48PX;
}

.OneSearchBox {
  min-height: 63px;
  min-width: 653px;
}

.OneLowMiddle {
  MIN-HEIGHT: 108PX;
}

.OneScroll {
  min-height: 46px;
  min-width: 108px;
}

.OneBottom {
  MIN-HEIGHT: 132PX;
}

.OneBottomBar {
  min-height: 83px;
  min-width: 100%;
  background-color: #5474FD;
}

.OneBar1 {
  min-height: 20px;
  min-width: 186px;
}

.OneBar2 {
  min-height: 12px;
  min-width: 525px;
}

.OneBar2_1 {
  min-height: 12px;
  min-width: 126px;
}

.Twopage {
  width: 100%;
  height: 685px;
  background-image: url("../images/page 2.png");
  background-size: cover;
  background-position: center;
}

.TwoPictrueBox {
  min-height: 450px;
  min-width: 440px;
}

.TwoTextBox {
  min-height: 450px;
  min-width: 560px;
}

.Twoim1 {
  background-image: url("../images/mini im 1.png");
  background-size: cover;
  background-position: center;
}

.Twoim2 {
  background-image: url("../images/mini im 2.png");
  background-size: cover;
  background-position: center;
}

.TwoPic {
  min-height: 220px;
  min-width: 350px;
}

.TwoTextpad {
  min-height: 95px;
}

.TwoTextloc {
  min-height: 342px;
  min-width: 560px;
}

.TwoTextheadlight {
  min-height: 26px;
  min-width: 288px;
}

.Twotext {
  min-height: 158px;
  max-width: 460px;
}

.Twobutton {
  min-height: 63px;
  min-width: 228px;
}

.Threepage {
  min-width: 100%;
  height: 340px;
  background-color: #333333;
}

.Threepage2 {
  min-width: 100%;
  height: 340px;
  padding-left: 325px;
  padding-right: 325px;
  position: relative;
  top: -99px;
}

.ThreePictrueBox {
  min-height: 163px;
  min-width: 253px;
}

.Threecrosspic {
  min-height: 99px;
  max-width: 777px;
  position: relative;
  left: 495px;
  top: 80px;
}

.ThreeIcons {
  min-height: 118px;
  min-width: 253px;
  background-color: #333333;
}

.Threetext {
  min-height: 45px;
  min-width: 253px;
}

.Fourpage {
  width: 100%;
  height: 700px;
  background-image: url("../images/page 3.png");
  background-size: cover;
  background-position: center;
}

.Fourpage2 {
  width: 100%;
  height: 700px;
  background-image: url("../images/page 4.png");
  background-size: cover;
  background-position: center;
}

.Fourtop {
  min-height: 227px;
}

.Fourcontent {
  min-height: 374px;
  min-width: 1086px;
}

.Fourbox {
  min-height: 374px;
  min-width: 543px;
  padding: 32px;
  background-color: rgba(35, 35, 35, 0.9);
}

.Fourbox1 {
  min-height: 374px;
  min-width: 543px;
  padding: 32px;
}

.Fourtitle {
  min-height: 26px;
  min-width: 80px;
}

.Fourtitle2 {
  min-height: 26px;
  min-width: 241px;
}

.Fourtext {
  min-height: 78px;
  max-width: 508px;
}

.Fourbutton {
  min-height: 63px;
  min-width: 228px;
}

.Sixpage {
  width: 100%;
  height: 731px;
  background-image: url("../images/page 5.png");
  background-size: cover;
  background-position: center;
}

.Sixtop {
  min-height: 128px;
}

.Sixtitle {
  min-height: 26px;
  min-width: 390px;
}

.Sixim {
  background-image: url("../images/mini im 3.png");
  background-size: cover;
  background-position: center;
}

.Sixmid {
  min-height: 91px;
}

.Sixcontent {
  min-height: 287px;
  min-width: 1107px;
}

.Sixpic {
  min-height: 100%;
  min-width: 445px;
}

.Sixtextbox {
  min-height: 100%;
  min-width: 662px;
  padding: 32px;
  background-color: rgba(35, 35, 35, 0.8);
}

.Sixtitle2 {
  min-height: 26px;
  max-width: 150px;
  margin-bottom: 8px;
  margin-left: 30px;
}

.Sixbox {
  min-height: 165px;
  max-width: 495px;
  margin-left: 30px;
}

.footpage {
  width: 100%;
  min-height: 271px;
  background-color: #232323;
}

.footpad {
  min-height: 122px;
}

.footbox {
  min-height: 51px;
  min-width: 196px;
}

.footpad2 {
  min-height: 25px;
}

.footicons {
  min-height: 25px;
  min-width: 165px;
}

.footicon {
  min-height: 25px;
  min-width: 25px;
  color: white;
}

.footicon:hover i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body {
  max-width: 1800px;
  margin: 0 auto;
}

p {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Shadows Into Light", cursive;
}

.location {
  border: #c37272;
  border-width: 3px;
  border-style: solid;
}

.large-svg {
  width: 100px;
  height: 100px;
}

.alt-svg {
  width: 800px;
  height: 150px;
}