
@import 'flex';
@import 'font';
@import 'PageOne';
@import 'PageTwo';
@import 'PageThree';
@import 'PageFour';
@import 'PageSix';
@import 'footer';


body{
    max-width: 1800px;
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
}
p{    
    color: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.large-svg {
    width: 100px;
    height: 100px;
}
.alt-svg {
    width: 800px;
    height: 150px;
}
.small-svg {
    width: 50px;
    height: 50px;
    fill: white;
}
.search-input {
    width: 100%;
    padding: 10px;
    height: 63px;
    border: none;
}

.search-button {
    padding: 10px 15px;
    background-color: #5474FD;
    color: white;
    border: none;
    cursor: pointer;
    height: 63px;
    width: 153px;
    border: 2px solid #ccc;
}

.search-button:hover {
    background-color: #465dc1;
}